/* just imports from the folder styles */
@import url("reset.css");
@import url("styles/fonts.css");
@import url("styles/navigation.css");
@import url("styles/index.css");
@import url("styles/hero.css");
@import url("styles/contact.css");
@import url("styles/footer.css");
@import url("styles/work.css");
@import url("styles/gallery.css");
@import url("styles/book.css");

.whitebg {
    background-color: white;
    padding: 8px 0;
}

.fancy-hr {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8px;
    margin-bottom: 5px;
    border-radius: 50%;
    opacity: 50%;
    border-color: #000000b0;
    background-image: none;
    background-color: rgb(255, 255, 255);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}