h2 {
    font-family:'cheap_potatoes_blackregular';
    font-size: 36px;
    color:#42679F;
}

.contact-container {
    text-align: center;
    padding: 50px;
}

.contact-container h1 {
    font-size: 2rem;
    color: #42679F;
}

form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

form label {
    display: block;
    text-align: left;
    font-family: 'cheap_potatoes_blackregular';
    font-size: 1rem;
    color:#42679F;
}

.contact_form {
    display: block;
    max-width: 30rem;
    gap: 1rem;
}

.contact_input-group {
    margin-bottom: 20px;
}

input, textarea {
    font-family: 'Manrope';
    font-size: 1rem;
    border: 1px solid #42679F;
    border-radius: 5px;
    outline: none;
}

input:focus, textarea:focus {
    border: 2px solid #42679F;
}

::placeholder {
    color: #42679F;
    opacity: 1; 
  }

textarea {
    width: auto;
    resize: none;
    min-height: 10rem;
}

.contact_input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: .5rem;
}

.contact_input-group input, textarea{
    padding: .8rem;
}

form button {
    background: #42679F;
    color: white;
    padding: 10px 20px;
    border: 2px solid #42679F;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

form button:hover {
    background: white;
    border: 2px solid #42679F;
    border-radius: 5px;
    color: #42679F;
}
