@font-face {
    font-family: 'cheap_potatoes_blackregular';
    src: url('../fonts/cheap_potatoes_black-webfont.woff2') format('woff2'),
         url('../fonts/cheap_potatoes_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* manrope-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
}

  /* manrope-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v15-latin-600.woff2') format('woff2'); 
}

/* manrope-800 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/manrope-v15-latin-800.woff2') format('woff2'); 
}
