
#progress-bar {
  height: 100%;
  width: 0;
  background-color: #42679F;
  transition: width 0.1s ease-out;
}

.hero-header {
  position: relative;
  min-height: 100vh;   /* hero přes celou výšku okna */
  overflow: hidden;
}

.hero-video {
    position: absolute;
    inset: 0;            /* top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
    object-fit: cover;   /* vyplní celý prostor jako background-size: cover */
    z-index: -1;
    pointer-events: none; /* ať nepřekáží klikání na nav */
    filter: brightness(0.5);
}


.hero-image {
  min-height: calc(100vh - 300px); /* Minimální výška: výška okna minus navbar */
  z-index: 1;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  font-family: 'cheap_potatoes_blackregular';
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 237, 137);
}

.big {
  font-size: 8rem;
  line-height: 159%;
  margin-top: 0%;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 0%;
}

@media (max-width: 768px) {
  .body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: none;
    background-color: white;
  }

  .hero-image {
    min-height: 50vh;
    background-image: none;
    background-color: white;
  }

  .cartoon {
    display: none;
  }

  .hero-text {
    z-index: 2;
    margin-top: 300px;
    font-family: 'cheap_potatoes_blackregular';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .big {
    font-size: 3rem;
    line-height: 159%;
    margin-top: 0%;
    padding-bottom: 100px;
  }

  h1 {
    font-size: 1rem;
    margin-bottom: 0%;
  }

}