
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2342679f' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

p {
    font-family: 'Manrope';
    font-weight: 600;
}

.items-container {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    text-align: left;
}

#face {
    max-width: 30rem;
    margin-right: 2rem;
}

.items-text {
    flex: 1;
    max-width: 35vw;
    margin-right: 2rem;
}

.items-text p {
    font-family: 'Manrope';
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 1.8;
}

.buttons .btn {
    text-decoration: none;
    display: inline-block;
    margin-right: 2rem;
    font-family: 'Manrope';
    background: #42679F;
    color: white;
    padding: 10px 20px;
    border: 2px solid #42679F;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.buttons .btn:hover {
    background: white;
    border: 2px solid #42679F;
    border-radius: 8px;
    color: #42679F;
}

#work {
    display: flex;
    justify-content: center;
    text-align: left;

}

#work h2 {
    margin-bottom: 20px;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.mobile-description {
    display: none;
}

.work-item {
    position: relative;
    width: 349px;
}

.scribble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    rotate: -5deg;
    object-fit: cover;
    transition: opacity 0.3s ease;

}

.main-image {
    z-index: 1;
}

.work-item:hover .scribble {
    opacity: 1;
}


.white {
    background-color: white;
}

.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}


@media (max-width: 768px) {
    body {
        background-image: none;
    }

    main {
        background-image: none;
        background-color: white;
    }

    #face {
        height: 335px;
        max-width: 100%;
        position: absolute;
        top: 100px;
        left: -100px;
    }

    .items {
        padding: 0;
        text-align: center;
    }

    .items-container {
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .items-text {
        max-width: 80vw;
        margin: 20px 0 100px 0;
        text-align: center;
    }

    .items-text p {
        font-family: 'Manrope';
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .buttons .btn {
        text-decoration: none;
        display: inline-block;
        margin: .8rem;
        margin-bottom: 4rem;
        font-family: 'Manrope';
        background: #42679F;
        color: white;
        padding: 10px 20px;
        border: 2px solid #42679F;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
    }

    .work-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .scribble {
        display: none;
    }

    .mobile-description {
        display: flex;
        font-family: 'cheap_potatoes_blackregular';
        text-transform: uppercase;
        font-size: 12px;
        color: #42679F;
        margin-bottom: -10px;
    }

}